* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

.clickable {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.clickable:hover {
  filter: brightness(0.95);
}

.button-min-width {
  min-width: 150px;
}